*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.my-3{
    margin: 0.5rem 0;
}

body{
    padding: 0.5rem 1rem;
}

h1 {
    text-align: center;
}

ul{
    list-style-type: none;
    
}

li{
    text-transform: capitalize;
}